#--------------------------------------------------------------------
# sssm Environment Configuration file
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = production

sssm.sysname = '##sssm.sysname##'
sssm.login_id_validation = '##sssm.login_id_validation##'
sssm.login_pw_validation = '##sssm.login_pw_validation##'

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = '##app.baseURL##'
app.indexPage = '##app.baseURL##'

app.sessionDriver = '##app.sessionDriver##'
app.sessionCookieName = 'sssm_session'
app.sessionSavePath = 'z_sssm_sessions'

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = ##database.default.hostname##
database.default.database = ##database.default.database##
database.default.username = ##database.default.username##
database.default.password = ##database.default.password##
database.default.DBDriver = ##database.default.DBDriver##

